@import "tailwindcss";

:root {
   /* Cores da SmarterFit Power */
   --color-primary: #6a0dad; /* Roxo */
   --color-dark: #1e1e1e; /* Preto */
   --color-light: #d1d1d1; /* Cinza-claro */
   --color-accent: #ff6b00; /* Laranja */
   --color-white: #ffffff; /* Branco */

   /* Background e foreground padrão (modo claro) */
   --background: var(--color-white);
   --foreground: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: var(--color-dark);
      --foreground: var(--color-white);
   }
}

@theme {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-primary: var(--color-primary);
   --color-dark: var(--color-dark);
   --color-light: var(--color-light);
   --color-accent: var(--color-accent);
   --color-white: var(--color-white);
}

@layer components {
   .primary {
      @apply bg-primary text-white;
   }

   .secondary {
      @apply bg-accent text-white;
   }

   .tertiary {
      @apply bg-foreground text-background;
   }

   .button {
      @apply px-2 py-1 rounded cursor-pointer;
   }

   .link {
      @apply text-foreground no-underline;
   }

   .desktop-link-menu {
      @apply font-bold block;

      @variant hover {
         @apply text-foreground/20;
      }
   }

   .mobile-link-menu {
      @apply px-4 py-1 rounded block;

      @variant hover {
         @apply bg-white/20;
      }
   }

   .card {
      @apply bg-black/10 rounded-xl py-10 px-2 flex flex-col gap-2 items-center justify-center text-center;

      @variant hover {
         @apply bg-black/20;
      }

      @variant dark {
         @apply bg-white/20;

         @variant hover {
            @apply bg-white/30;
         }
      }
   }

   .form {
      @apply flex flex-col gap-2;
   }

   .input {
      @apply flex items-center gap-2 p-2 rounded bg-background outline-accent;

      input {
         @apply bg-transparent text-foreground placeholder:text-foreground/40 focus:outline-none w-full;
      }

      @variant focus-within {
         @apply outline;
      }
   }

   .input-group {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-2;
   }

   .panel {
      @apply flex flex-col gap-4 p-8 rounded-xl bg-black/10 shadow-lg;

      @variant dark {
         @apply bg-white/10;
      }
   }

   .panel-size {
      @apply w-full sm:w-2/3 lg:w-1/3 xl:w-1/4;
   }

   .panel-flip-container {
      @apply relative transition-all duration-500 transform-3d;
   }

   .panel-flip {
      @apply absolute inset-0 backface-hidden;
   }
}

body {
   background-color: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}

.shadow-inset-bottom {
   box-shadow: inset 0 -4px 4px -4px rgba(0, 0, 0, 0.25);
}
